
<h1>Please select a xlsx file:</h1>
<input type="file" (change)= "onFileChange($event)" multiple="false"/>
<input type="button" value="Save" (click)="onClick()">
<table #dataTable class="datatable"  id="excel-table" *ngIf="isSaved">
    <thead>
        <tr><td *ngFor="let k of key">{{k}}</td></tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let item of dataSheet">
            <td *ngFor="let k of key">{{item[k]}}</td>
        </tr>
    </tbody>
</table>

